package models

import (
	//"{{.ProjectName}}/common/mongodb"
	"context"
	"go.mongodb.org/mongo-driver/bson/primitive"
	"go.mongodb.org/mongo-driver/mongo"
	"time"
)

type {{.UpperTableName}} struct {
	Id          primitive.ObjectID `bson:"_id" json:"id"`
	UpdateAt    time.Time          `bson:"update_at,omitempty" json:"update_at,omitempty"`
	CreateAt    time.Time          `bson:"create_at,omitempty" json:"create_at,omitempty"`
}

type {{.LowerTableName}}Model struct {
	db     *mongo.Database
	appCtx context.Context
}

func New{{.UpperTableName}}Model(appCtx context.Context) *{{.LowerTableName}}Model {
	return &{{.LowerTableName}}Model{
		//db:     mongodb.DefaultMongoDB(),
		appCtx: appCtx,
	}
}
